<table class="border border-collapse border-gray-400 table-fixed w-full bg-white">
  <thead class="bg-neutral-100">
    <tr class="">
      <th class="p-4 border border-gray-300">Portuguese</th>
      <th class="p-4 border border-gray-300">English</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="p-4 border border-gray-300">ola</td>
      <td class="p-4 border border-gray-300">hello</td>
    </tr>
    <tr>
      <td class="p-4 border border-gray-300">tchau</td>
      <td class="p-4 border border-gray-300">goodbye</td>
    </tr>
  </tbody>
</table>
