<div class="flex">
  <div class="card w-96 bg-base-100 shadow-sm bg-red-100">
    <div class="card-body">
      <span class="badge badge-xs badge-warning">Most Popular</span>
      <div class="flex justify-between">
        <h2 class="text-3xl font-bold">Premium</h2>
        <span class="text-xl">$29/mo</span>
        <%= link_to "", "" %>
        <div></div>
      </div>

    </div>
  </div>

</div>
